<form id="newMessageForm" method="POST" >
  <div class="input-group">
    <input required name="Content" id="Content" for="Content" type="text" class="form-control input-sm" placeholder="Send message">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit">Send</button>
    </div>
  </div>
</form>
