<form asp-action="CreateMeassage" >
  <div class="input-group">
    <input type="text" class="form-control input-sm" placeholder="Send message">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit">Send</button>
    </div>
  </div>
</form>
