@model EditUser

<form asp-action="UpdateProfile" asp-route-id='@Context.Session.GetInt32("UserId")' method="post"
    asp-controller="Profile">
    <div class="row">
        <div class="col-4">
            <div class="mb-3 mt-5">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" type="text" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" type="text" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" type="text" class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Occupation"></label>
                <input asp-for="Occupation" type="text" class="form-control">
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="mb-3">
                <label asp-for="Gender">Gender</label>
                <select class="form-select" asp-for="Gender">
                    <option value="" selected>Pronouns</option>
                    <option value="He/Him">He/Him</option>
                    <option value="She/Her">She/Her</option>
                    <option value="They/Them">They/Them</option>
                </select>
                
            </div>
            <div class="mb-3">
                <label asp-for="RelationshipStatus">Relationship Status</label>
                <select asp-for="RelationshipStatus" class="form-select form-select mb-3">
                    <option value="" selected>Choose an option</option>
                    <option value="Single">Single</option>
                    <option value="Taken">Taken</option>
                    <option value="Prefer not to answer">Prefer not to answer</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="DateOfBirth">Birthdate</label>
                <input asp-for="DateOfBirth" type="date" class="form-control">
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="mb-3">
                <label asp-for="Address"></label>
                <input asp-for="Address" type="text" class="form-control">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City"></label>
                <input asp-for="City" type="text" class="form-control">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="State"></label>
                <input asp-for="State" type="text" class="form-control">
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Country"></label>
                <input asp-for="Country" type="text" class="form-control">
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <button class="btn btn-success mt-5">Update</button>
        </div>
    </div>
</form>