@model List<Photo>
<h1 class="mt-3" >Photo Gallery</h1>
  <div class="row">
      @foreach (Photo p in Model)
      {
      <div class="col-3 mt-3">
          <img class="rounded" src="@p.PhotoUrl" style="width: 100%;" alt="photo">
      </div>
      }
  </div>
